.arsenal, .leicester-city, .manchester-city, .manchester-united, .tottenham-hotspur {
  background-image: url('../assets/badges_sprite.png');
  background-repeat: no-repeat;
}

.arsenal {
  background-position: -100px -97px; 
  width: 100px;
  height: 105px;
}

.leicester-city {
  background-position: 2px 2px; 
  width: 105px;
  height: 102px;
}

.manchester-city {
  background-position: -798px -698px; 
  width: 105px;
  height: 102px;
}

.manchester-united {
  background-position: -597px -798px; 
  width: 105px;
  height: 104px;
}

.tottenham-hotspur {
  background-position: -496px -1000px; 
  width: 105px;
  height: 100px;
}


