select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   border-radius: 0px;
   padding: 5px;
   width: 250px;
   background-color: lightgray;
   border: none;
}

.container {
  border: 1px solid red; /* to be deleted */
/*  width: 400px;*/
}

.card__select {
  border: 1px solid green; /* to be deleted */
}

.card__player-image {}
.card__club-badge {}
.card__info {}
.info {}
.card__stats-group {}
.stats-group__item {}





