body {
  background-color: #DDDDDD;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   border-radius: 0px;
   padding: 5px;
   width: 250px;
   background-color: lightgray;
   border: none;
}

/* Default icon formatting */
i {
  display: inline-block;
  font-style: normal;
  position: relative;
}

/* Additional formatting for arrow icon */
i.arrow {
    top: 39pt;
    left: 250pt;
    width: 0.5em;
    height: 0.5em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(135deg);
}

.container {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  border: 1px solid black; 
  width: 400px;
  background-color: white;
  margin: 35px auto;
}

.card__select {
  width: 90%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  margin: 20px;
  background-color: #EAEAEA;

  padding: 10px 20px;
}

.card__player-image {
    padding-left: 15px;
    position: relative;
    left: 1px;
    top: 8px;
}

.card__club-badge {
    width: 120px;
    height: 108px;    
    position: relative;
    float:right;
    left: -20px;
    top: -40px;
    z-index: 2;
}

.card__info {
    padding: 5px;
    background-color: #E90053;
    color: #EAEAEA;
    margin: 2px 1px 0px 2px;
}

.info {
    padding: 5px;
    margin: 5px;
}

.card__stats-group {
    padding: 1px 0;
    background-color: #E90053;
    margin: 0 1px 1px 2px;
    padding: 5px 10px 20px 10px;
}

.stats-group__item {
    padding: 1px;
    margin: 0px 5px 4px 5px;
    background-color: #EAEAEA;
    padding: 8px 16px;
}

.stats-group__item-data {
  float: right;
  font-weight: bold;
}

